@charset "UTF-8";

/* Fonts */

@font-face {
    font-family: GE_Flow_Bold;
    src: url("../fonts/GE_Flow_Bold.otf");
}

@font-face {
    font-family: GE_Flow_Regular;
    src: url("../fonts/GE_Flow_Regular.otf");
}

@font-face {
    font-family: BebasNeue_Bold;
    src: url("../fonts/BebasNeue_Bold.otf");
}

@font-face {
    font-family: BebasNeue_Regular;
    src: url("../fonts/BebasNeue_Regular.otf");
}


/* Header */

.header {
    display: block;
    overflow: hidden;
}

.header div {
    display: inline-block;
}

.header_left {
    padding: 1rem 0;
    text-align: right;
}

.header_left img {
    margin: 0 5rem;
}

.header_left .links {
    margin-left: 3rem;
}

.header_left .links a {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    color: #96a6a7;
    padding: 1rem;
}

.header_right {
    padding: 0;
    text-align: right;
    position: relative;
}

.header_right .login {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    border: 0;
    background: #e94e38;
    color: #fff;
    padding: 3rem 25rem 2rem 3rem;
}

.header_right .login:focus,
.header_right .search:focus {
    outline: none;
}

.header_right .login i {
    font-size: 2rem;
    padding: 0 1rem;
}

.header_right .search:before {
    content: "\f002";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    background: #e2dee0;
    color: #fff;
    font-size: 3rem;
    position: absolute;
    left: 2rem;
    top: 0;
    bottom: 0;
    padding: 1.5rem 2rem;
}


/* 
.header_right .search {
    background: #e2dee0;
    color: #fff;
    border: 0;
    padding: 2rem;
}

.header_right .search i {
    font-size: 3rem;
} */


/* Search */

#search {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/footerBG.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
    overflow: hidden;
    padding: 2rem 0;
}

#search div {
    text-align: center
}

#search h1 {
    margin: 2rem 0;
    color: #fff;
}

#search a {
    display: inline-block;
    color: #fff;
    padding: 1rem 2rem;
    margin-right: 4rem;
    background: #5b55535e;
    border: 1px solid #5b5553;
    border-radius: 25px;
    font-size: 2rem;
    text-transform: capitalize;
}

#search a span {
    margin-right: 10rem;
}

#search a:hover {
    text-decoration: none;
    color: #fff;
}

#search a i {
    font-size: 1.5rem;
    margin-left: 1rem;
}

#search input {
    display: block;
    color: #fff;
    padding: 1.3rem 2rem;
    background: #5b55535e;
    border: 1px solid #5b5553;
    border-radius: 25px;
    font-size: 2rem;
    margin: 3rem;
    margin-left: 14rem;
    width: 63%;
}

#search input::placeholder {
    color: #fff;
}

#search input:focus,
#search button:focus {
    border: 0;
    outline: 0;
}

#search button {
    background: #e94e38;
    color: #fff;
    text-transform: uppercase;
    padding: 2rem 4rem;
    border: 1px solid #e94e38;
    border-radius: 35px;
    font-size: 2rem;
}


/* Filter */

.filter {
    display: block;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #c8cecf;
    padding: 1.5rem 0;
    padding-left: 8rem;
}

.filter .links a {
    color: #9E9E9E;
    text-transform: uppercase;
    padding: 0 1rem;
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 1rem;
}

.filter .links a.active,
.filter .links a:hover {
    color: red;
    text-decoration: none;
}

.filter .select a {
    display: inline-block;
    color: #9E9E9E;
    text-transform: uppercase;
    background: #fff;
    border: 1px solid #9E9E9E;
    padding: 1rem 1.5rem;
    border-radius: 25px;
    margin: 0 1rem;
}

.filter .select a.active {
    color: red;
}

.filter .select a:hover {
    color: red;
    text-decoration: none;
}

.filter .select a i {
    color: #9E9E9E;
    margin-left: 1rem;
}

.filter .icons span {
    text-transform: uppercase;
    color: #9E9E9E;
}

.filter .icons a {
    margin: 0 0.5rem;
}

.filter .icons a i {
    color: #fff;
    font-size: 2rem;
    border-radius: 25px;
    padding: 1rem;
    text-align: center;
    vertical-align: middle;
}

.filter .icons a i.fa-home {
    background: #1db05e;
}

.filter .icons a i.fa-female {
    background: #b6c0c1;
}

.filter .icons a i.fa-graduation-cap {
    background: #b6c0c1;
}

.filter .icons a i.fa-music {
    background: #f19e1f;
}

.filter .icons a i.fa-bus {
    background: #88499c;
}


/* Services */

.services {
    display: block;
    overflow: hidden;
    background: #f3f1f2;
}

.services .odd_row {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.services #card .content {
    background: #fff;
    padding: 2rem;
    text-align: center;
    padding-bottom: 0.5rem;
    max-height: 130px;
}

.services #card img {
    width: 100%;
}

.services #card h5 {
    text-transform: uppercase;
    font-size: 1.3rem;
    margin: 0;
    margin-top: 2rem;
}

.services #card h4 {
    color: #566375;
    font-size: 1.7rem;
}

.services #card h6 span {
    color: #9E9E9E;
    padding: 0 0.2rem;
}

.services #card h6 i {
    color: #f19e1f;
}

.services #card.card1 span.price,
.services #card.card4 span.price {
    background: #1db05e;
    color: #fff;
    padding: 0.2rem 1rem;
    border-radius: 30px;
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.services #card.card1 img,
.services #card.card4 img {
    border-bottom: 3px solid #1db05e;
}

.services #card.card1 i.fa-home,
.services #card.card4 i.fa-home {
    position: absolute;
    bottom: 11rem;
    left: 10rem;
    color: #fff;
    background: #1db05e;
    border-radius: 30px;
    font-size: 3rem;
    border: 4px solid #fff;
    padding: 1rem;
}

.services #card.card1 h5,
.services #card.card4 h5 {
    color: #1db05e;
}

.services #card.card2 img {
    border-bottom: 3px solid #f19e1f;
}

.services #card.card2 i.fa-music {
    position: absolute;
    bottom: 10rem;
    left: 10rem;
    color: #fff;
    background: #f19e1f;
    border-radius: 30px;
    font-size: 3rem;
    border: 4px solid #fff;
    padding: 1rem;
}

.services #card.card2 h5 {
    color: #f19e1f;
}

.services #card.card3 img {
    border-bottom: 3px solid #88499c;
}

.services #card.card3 i.fa-bus {
    position: absolute;
    bottom: 11rem;
    left: 10rem;
    color: #fff;
    background: #88499c;
    border-radius: 30px;
    font-size: 3rem;
    border: 4px solid #fff;
    padding: 1rem;
}

.services #card.card3 h5 {
    color: #88499c;
}


/* Overlay */

#card.card1,
#card.card2,
#card.card3,
#card.card4 {
    position: relative;
}

#card.card1 .overlay {
    position: absolute;
    background: linear-gradient(#1db05e, rgba(120, 183, 122, 0.16));
    overflow: hidden;
    z-index: 999;
    width: 244px;
    height: 165px;
    left: 1.5rem;
    text-align: center;
    padding: 4rem;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: .3s ease;
}

.overlay a {
    border: 2px solid #fff;
    font-size: 1.5rem;
    color: #fff;
    padding: 0.8rem 1.2rem;
    border-radius: 25px;
    text-transform: uppercase;
}

.overlay a span {
    margin-left: 0.5rem;
}

.overlay a:hover {
    text-decoration: none;
}

.overlay h6 i {
    font-size: 1.5rem;
    color: #fff !important;
    margin: 2rem 0;
}

.overlay h6 i.fa-comments-o {
    padding: 0 1rem;
    font-size: 2rem;
}

#card.card1:hover .overlay {
    cursor: pointer;
    opacity: 1;
}

#card.card2:hover .overlay {
    cursor: pointer;
    opacity: 1;
}

#card.card3:hover .overlay {
    cursor: pointer;
    opacity: 1;
}

#card.card4:hover .overlay {
    cursor: pointer;
    opacity: 1;
}

#card.card2 .overlay {
    position: absolute;
    background: linear-gradient(#f19e1f, rgba(255, 235, 59, 0.11));
    overflow: hidden;
    z-index: 999;
    width: 244px;
    height: 175px;
    left: 1.5rem;
    text-align: center;
    padding: 4rem;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: .3s ease;
}

#card.card3 .overlay {
    position: absolute;
    background: linear-gradient(#955b90, rgba(156, 39, 176, 0.16));
    overflow: hidden;
    z-index: 999;
    width: 244px;
    height: 165px;
    left: 1.5rem;
    text-align: center;
    padding: 4rem;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: .3s ease;
}

#card.card4 .overlay {
    position: absolute;
    background: linear-gradient(#1db05e, rgba(120, 183, 122, 0.16));
    overflow: hidden;
    z-index: 999;
    width: 244px;
    height: 165px;
    left: 1.5rem;
    text-align: center;
    padding: 4rem;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: .3s ease;
}


/* Even Row */

.services .even_row {}

.services #h_card img {
    width: 100%;
}

.services #h_card.card1 img {
    border-bottom: 3px solid #1db05e;
}

.services #h_card.card2 img {
    border-bottom: 3px solid #f19e1f;
}

.services #h_card.card1 i.fa-home {
    position: absolute;
    bottom: 13rem;
    left: 5rem;
    color: #fff;
    background: #1db05e;
    border-radius: 30px;
    font-size: 3rem;
    border: 4px solid #fff;
    padding: 1rem;
}

.services #h_card.card2 i.fa-home {
    position: absolute;
    bottom: 13rem;
    left: 5rem;
    color: #fff;
    background: #f19e1f;
    border-radius: 30px;
    font-size: 3rem;
    border: 4px solid #fff;
    padding: 1rem;
}

.services #h_card .stars {
    display: inline-block;
    position: absolute;
    top: 10rem;
    left: 12rem;
}

.services #h_card .stars h5,
.services #h_card .stars h6 {
    display: inline-block;
}

.services #h_card .stars h5 {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
}

.services #h_card .stars h6 {
    color: #f19e1f;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.services #h_card .stars h6 span {
    color: #fff;
}

.services #h_card .content {
    background: #fff;
    padding: 1.5rem 0;
    padding-bottom: 1rem;
    max-height: 155px;
}

.services #h_card .content img {
    width: 50px;
    height: 50px;
    border: 0;
}

.services #h_card .content h6 {
    font-size: 2rem;
    margin: 0rem 11rem;
    color: #f19e1f;
}

.services #h_card .content div {
    margin-left: 4rem;
}

.services #h_card .content h4 {
    display: inline-block;
    margin: 0 2rem;
    font-size: 2rem;
    color: #566375;
    text-transform: uppercase;
    font-weight: 600;
}

.services #h_card .content p {
    color: #9E9E9E;
    margin-left: 7rem;
    padding-right: 1rem;
    font-size: 1.5rem;
}

.services #h_card .content p a {
    color: #566375;
    font-weight: 600;
}

.services a.more {
    color: #566375;
    text-transform: capitalize;
    text-align: center;
    padding: 4rem 2rem;
    font-size: 2rem;
    text-decoration: underline;
    font-weight: 600;
    border-bottom: 1px solid #c8cecf;
}


/* Offer */

.offer {
    display: block;
    overflow: hidden;
    background: #f3f1f2;
}

.offer h2,
.offer h5,
.offer .icons {
    text-align: center;
}

.offer h2 {
    color: #4b5b6a;
    margin-top: 5rem;
}

.offer h5 {
    color: #c8cecf;
    font-size: 2rem;
}

.offer .icons {
    margin-top: 4rem;
}

.offer .icons a {
    display: inline-block;
    border: 1px solid #9dacad;
    border-radius: 55px;
    margin: 0 1rem;
}

.offer .icons a:hover {
    border: 1px solid #1db05e;
}

.offer .icons a i:hover {
    color: #1db05e;
}

.offer .icons a.active {
    border: 1px solid #1db05e;
}

.offer .icons a.active i {
    color: #1db05e;
}

.offer .icons hr {
    display: inline-block;
    border-top: 1px solid #c8cecf;
    padding: 0 3rem;
}

.offer .icons a i {
    font-size: 6rem;
    color: #9dacad;
    padding: 2.5rem;
}

.offer .details {
    display: block;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 10rem;
}

.offer .details h2 {
    color: #1db05e;
    text-transform: capitalize;
    margin: 2rem 0;
}

.offer .details div p {
    display: inline-block;
    color: #808996;
    padding: 0 2rem;
}

.offer .details div span {
    padding: 1rem;
}

.offer .details div i {
    display: inline-block;
    color: #fff;
    background: #1db05e;
    border: 1px solid #1db05e;
    border-radius: 25px;
    font-size: 2rem;
    padding: 1.5rem;
}


/* Footer */

.footer {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/footerBG.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
    overflow: hidden;
}

.footer_top {
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 2rem;
}

.footer_top h2 {
    color: #fff;
}

.footer_top form {
    padding: 1rem 0;
    margin: 0 8rem;
    width: 100%;
    display: block;
}

.footer_top input {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    background: #5b5553;
    padding: 2.5rem 4rem;
    border: 0;
    width: 40%;
    border-radius: 35px;
}

.footer_top input:focus,
.footer_top button:focus {
    outline: none;
}

.footer_top input::placeholder {
    color: #fff;
    font-size: 2rem;
}

.footer_top button {
    background: #e94e38;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    border: 0;
    padding: 1.5rem 2rem;
    border-radius: 30px;
    position: relative;
    right: 14rem;
}

.footer_bottom {
    display: block;
    overflow: hidden;
    padding: 3rem 0;
    border-top: 1px solid #8a8681;
    ;
    margin: 2rem 8rem 5rem;
}

.footer_bottom h4 {
    color: #fff;
    border-bottom: 1px solid #8a8681;
    width: 25%;
    text-transform: capitalize;
}

.footer_bottom .links,
.footer_bottom .social_media {
    padding: 1rem 0;
}

.footer_bottom .links a {
    text-transform: capitalize;
    display: block;
    color: #8a8681;
    padding: 0.2rem 0;
}

.footer_bottom .social_media {
    padding: 1rem 0;
}

.footer_bottom .social_media a {
    display: inline-block;
    padding: 0.5rem 0;
    padding-right: 1rem;
}

.footer_bottom .social_media a i {
    color: #fff;
    font-size: 3rem;
}

.footer_bottom h5 {
    font-size: 1.5rem;
    margin-top: 5rem;
    color: #fff;
}


/* small screen 480px */

@media (max-width: 480px) {
    /* Header */
    .header_left {
        padding: 1rem 0;
        text-align: left;
    }
    .header_left img {
        margin: 1rem;
    }
    .header_left .links {
        margin-left: 0rem;
    }
    .header_left .links a {
        font-size: 1.1rem;
        padding: 1rem 0.5rem;
    }
    .header_right .login {
        font-size: 1.5rem;
        padding: 2rem;
    }
    .header_right .search:before {
        left: 0;
        top: 0;
        bottom: 0;
    }
    .header_right {
        padding: 0;
        text-align: right;
        position: relative;
    }
    /* Search */
    #search h1 {
        font-size: 2.5rem;
    }
    #search a {
        margin-right: 0rem;
        font-size: 1.3rem;
    }
    #search a span {
        margin-right: 5rem;
    }
    #search a i {
        font-size: 1rem;
        margin-left: 0;
    }
    #search input {
        font-size: 1.5rem;
        margin: 3rem;
        margin-left: 1rem;
        width: 95%;
    }
    #search button {
        padding: 1.5rem 3rem;
        font-size: 1.5rem;
    }
    /* Filter */
    .filter {
        padding-left: 0;
    }
    .filter .links a {
        font-size: 1.3rem;
        margin: 1rem 0;
    }
    .filter .select {
        margin-bottom: 1rem;
    }
    .filter .select a {
        padding: 1rem 2rem;
    }
    /* Services Section */
    .services #card.card1 i.fa-home,
    .services #card.card4 i.fa-home,
    .services #card.card2 i.fa-music,
    .services #card.card3 i.fa-bus {
        bottom: 9rem;
        left: 13rem;
    }
    #card.card1 .overlay,
    #card.card2 .overlay,
    #card.card3 .overlay,
    #card.card4 .overlay {
        width: 302px
    }
    .services #h_card .stars {
        top: 5rem;
    }
    .services #h_card .stars h5 {
        font-size: 1.2rem;
    }
    .services #h_card .stars h6 {
        font-size: 1rem;
    }
    .services #h_card .content h6 {
        font-size: 1.3rem;
    }
    .services #h_card {
        margin-bottom: 1rem;
    }
    .services #h_card .content p {
        margin-left: 0;
        font-size: 1.3rem;
    }
    .services #h_card .content {
        max-height: 160px;
    }
    .services #h_card .content h4 {
        font-size: 1.5rem;
    }
    .services .odd_row #card.col-xs-12 {
        margin-bottom: 1rem;
    }
    .services .odd_row {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .services .even_row #card.card1 {
        margin-bottom: 1rem;
    }
    /* Offer Section */
    .offer h2 {
        font-size: 2rem;
    }
    .offer h5 {
        font-size: 1.7rem;
    }
    .offer .icons {
        margin-top: 2rem;
    }
    .offer .icons a i {
        font-size: 3rem;
        padding: 1rem;
    }
    .offer .icons hr.xs-hidden {
        display: none;
    }
    .offer .details {
        margin-bottom: 4rem;
    }
    .offer .details div span {
        padding: 0 1rem;
    }
    .offer .details h2 {
        margin: 3rem 0;
        font-size: 2.5rem;
    }
    /* Footer Section */
    .footer_top h2 {
        font-size: 2rem;
    }
    .footer_top form {
        margin: 0;
        position: relative;
    }
    .footer_top input {
        width: 90%;
        padding: 2.5rem 2rem;
    }
    .footer_top button {
        font-size: 1.2rem;
        padding: 1.5rem;
        position: absolute;
        right: 3rem;
        bottom: 2rem;
    }
    .footer_bottom {
        margin: 2rem;
    }
    .footer_bottom h4 {
        border: 0;
        width: 100%;
    }
    .footer_bottom div.col-xs-12 {
        text-align: center;
        margin-top: 2rem;
        padding: 0;
    }
    .footer_bottom h5 {
        margin-top: 0;
    }
}